<nav class="navbar navbar-expand-md bg-white navbar-light shadow py-0">

    <img src="../../assets/logo.png" class="navbar-brand p-0" alt="logo" width="70" height="60" />

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="onSelect('recipe')" >Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
            </li>

        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown nav-item-right justify-content-right">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Manage
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Save Data</a>
                    <a class="dropdown-item" href="#">Fecth Data</a>
                </div>
            </li>
        </ul>

    </div>
</nav>